<div class="copyright">
  &copy; 2010&ndash;2019, Chiraag Nataraj. All work is licensed under the
  <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/3.0/" target="_blank">
    Creative Commons Attribution-NonCommercial-ShareAlike 3.0 Unported License
  </a>
  unless otherwise noted. Website last updated March, 2019. <a href="https://gitlab.com/chiraag-nataraj/chiraag.nataraj.us" target="_blank">Source code</a>.
</div>
